# Build products
build/
*.o
*.out
*.elf
*.bin

# Python
__pycache__/
*.pyc
.venv/

# Editors / OS
.vscode/
.idea/
.DS_Store
Thumbs.db
*~
*.swp
*.tmp

# CCS generated build output
firmware/tm4c123_ccs/Debug/
firmware/tm4c123_ccs/Release/
firmware/tm4c123_ccs/.settings/
